*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'digital-7';
    src: url(/fonts/digital-7.ttf);
}
.container{
   display: flex;
     justify-content: center;
    align-items: center; 
    width: 100%;

}
 header{
    width: 100%;
    background-color: #7c7d81;
    color: white;
    text-align: center;
    height: 60px;
    padding-top: 15px;
}
header h3{
    text-align: center;
    letter-spacing: 100px;
    font-size: 30px;
    font-family: digital-7;
}
.calc{
    display: grid;
    align-items: center;
    justify-content: center; 
    width: 350px;
   margin-top: 10px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 10px;
    background-color: #7c7d81;
    height: 400px;
}
.display{
    box-shadow: 2px black;
    border: 2px solid black;
}
.display textarea{
    resize: none;
    text-align: right;
    height: 100px;
    color: black;
    font-size: 30px;
    font-family: digital-7;
    background-color: #cad3cf;
}
.grey{
    background-color: #414047 !important;
}
.red{
    background-color: red !important;
}
.btn{
  color: white;
  background-color: #1e1c1f;
  border-radius: 5px;
  font-size: 20px;
}
